body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin:0px;
}


.logo {
    
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}



.hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.container, .header-area {
    display: flex;
    flex-direction: column;
}


.header-area{
    width: 80%;
    height: 600px;
}

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
}


.size{
    background-color: rgb(31,41,55);
    display: flex;
    justify-content: center;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.hero-image{
    display:flex;
    width:650px;
    height:290px;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
}

.hero-section{
    display: flex;
    flex-direction: column;
    width: 450px;
    flex-wrap: wrap;
    margin-right: 100px;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0px;
    padding: 0px
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-secondary-text{
    font-size: 18px;
    color:#E5E7EB;
}

button {
    background-color: #3882F6;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    font-weight: 900;
    border-radius: 8px;
    font-size: 19px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: none; 
    text-align: center;
    margin-top: 12px;
}